@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

@media screen and (min-width: 1024px) {
    /* PC */
    .topImage {
        text-align: center;
        color: white;
        background: url("/image/topImage.gif");
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
        margin-top: -10px;
        margin-left: -10px;
        margin-right: -10px;
    }

    .topMessage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 200%;
        font-family: "Shippori Mincho", serif;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;

    }
}

@media screen and (max-width: 1023px) {
    /* SP */
    .topImage {
        text-align: center;
        color: white;
        background: url("/image/topImage.gif");
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 40vh;
        margin-top: -10px;
        margin-left: -10px;
        margin-right: -10px;
    }
    .topMessage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 50%;
        font-family: "Shippori Mincho", serif;
        margin-left: auto;
        margin-right: auto;
        height: 30vh;
    }
}