@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

.topImage {
    text-align: center;
    color: white;
    font-size: 150%;
    background: url("/image/topImage.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.topMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 200%;
    font-family: "Shippori Mincho", serif;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}